
<div class="hero-unit">
	<h1>welcome to hive</h1>
	<p>
		you've found the homepage for the
		<%= link_to "hive", "http://hive.tc" %> 
		application.
	</p>
	<p> 
		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
</div>
